html
	head
		meta(charset='UTF-8')
		title Prevenar Adultos
		link(rel="stylesheet" type="text/css" href="css/estilo.css")

	body
		header
			div#titulo
				h1.fuenteletra1 Un paso adelante...
				h2.fuenteletra2 ...para ayudar a protegerlos de la neumonía neumocócica
			div#subtitulo
				h2.fuenteLetra3 PREVENAR 13 es la primera y única vacuna neumocócica conjugada (PCV, por sus siglas en inglés) aprobada para <br> adultos ≥ 50 años <sup>1,2</sup>

				


		br
		br
		br
		br
		br

		//block content
			header
				#frameSuperior
					h1.fuenteletra1 Un paso adelante...
					h1.fuenteletra2 ...para ayudar a protegerlos de la neumonía neumocócica
					p.fuenteLetra3 PREVENAR 13 es la primera y única vacuna neumocócica conjugada (PCV, por sus siglas en inglés) aprobada para <br> adultos ≥ 50 años <sup>1,2</sup>
				#divLogoOms
		
				#divFoto1
	
				#div4.fuenteLetra4
					p PREVENAR 13 está indicada en adultos de 50 o más años de edad para la prevención de la enfermedad neumocócica (incluida la neumonía invasiva y la enfermedad<br>invasiva) causada por los serotipos 1, 3, 4, 5, 6A, 6B, 7F, 9V, 14, 18C, 19A, 19F y 23F del Streptococcus pnuemoniae, incluida la neumonía no invasiva.<sup>24</sup><br><br>La aprobación de Prevenar 13 se basó en respuestas de anticuerpos funcionales en adultos.<sup>1</sup><br>No se ha demostrado que Prevenar 13 reduzca la morbilidad o mortalidad causada por enfermedad neumocócica invasiva o no invasiva en adultos.<sup>1,25</sup>
				